.about_container{
background: #323232;
background-image: url("../images/aboutback.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: 0px 0;
position: relative;
color: #DEDEDE;
}

.clearfix::after {
content: "";
clear: both;
}

.brace{
background-image: url('../images/line.png');
width: 80%;
height: 50px;
background-repeat: no-repeat;
background-size: 100%;
background-position: center center;
margin-left: 8%;
}

@media screen and (max-width: 1100px){
.div1{
flex-flow: column !important;
}
}

.div2 h3{
word-spacing: 5px;
line-height: 35px;
}

.live{
transition: all 0.5s ease-in-out;
}

.live:hover{
opacity: 1 !important;
cursor: pointer;
}
