/* Bootstrap Fix */
.user_form input {
    font-size: 15px;
    border: 1px solid #888888 !important;
}

.user_form {
	width: auto !important;
	margin: 0 auto;
	margin-top: 20px;
}
/*Bootstrap Ovverrides*/

.btn{
  width: auto !important;
}
