/* Bootstrap Fix */
.form input {
    font-size: 15px;
    border: 1px solid #888888 !important;
}

.btn {
	width: auto !important;
}
/*Bootstrap Ovverrides*/

body{
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  opacity: 1;
  overflow: auto;
}

main{
  position: relative;
  padding-top: 80px;
  background: #787878;
}

.navigation{
  background: #323232;
  opacity: 0.9;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navigation .left img{
  width: 150px;
  margin-left: 10px;
}

.navigation .right ul li{
  display: inline;
  list-style-type: none;
}

.navigation .right ul li{
	list-style: none;
	float: left;
	text-decoration: none;
	padding-right: 10px;
}

.navigation .right ul li a{
	position: relative;
	padding: 10px;
	text-decoration: none;
	color: white;
	font-weight: bolder;
	transition: 0.5s ease;
}

.navigation .right ul li a:after{
	position: absolute;
	content: "";
	width: 0;
	height: 3px;
	background: #DEDEDE;
	bottom: 0;
	left: 50%;
	transition: 0.3s ease;
}

.navigation .right ul li a:hover:after{
	width: 100%;
	left: 0;
}

/* Mobile Menu */
.mobile-nav-right{
	display: none;
	float: right;
	line-height: 20px;
}

.mobile-nav-right > a{
	margin-top: 25px;
}

.mobile-nav-right button{
	width: 100px;
	height: 40px;
	position: relative;
	margin: 15px;
	background: transparent;
	border: none;
	color: white;
}

.mobile-nav-right .nav{
	z-index: 9;
	background: #1E2327;
	position: absolute;
	right: -200px;
	padding: 15px;
	height: 100vh;
	list-style-type: none;
	color: white;
	font-size: 1.2em;
}

.mobile-nav-right .nav li{
	padding: 0;
  margin: 0;
  height: 2.2em;
	line-height: 2.2em;
}

.container{
	background-image: url("aboutback.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 0px 0;
	position: relative;
}

.clearfix::after {
content: "";
clear: both;
}

.brace{
background-image: url('line.png');
width: 80%;
height: 50px;
background-repeat: no-repeat;
background-size: 100%;
background-position: center center;
margin-left: 8%;
}



@media screen and (max-width: 1100px){
	.div1{
		flex-flow: column !important;
	}
}

@media screen and (max-width: 800px){
	.nav-right{
		font-size: 0.6em;
		display: none;
	}

	.mobile-nav-right{
		display: flex;
	}
}
