*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", Sans-serif;
	 -webkit-box-sizing: border-box;
}

img, table, button, .navigation{
	user-select: none;
}

a{
	text-decoration: none;
	color: inherit;
}

input, select{
	border: 0px !important;
	outline: 0px !Important;
	  -webkit-border-radius: 2px;
	  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	  -webkit-padding-end: 20px;
	  -webkit-padding-start: 2px;
	  -webkit-user-select: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}

body{
	font-family: "Roboto", Sans-serif;
}

.dummy{
	display: none;
	visibility: hidden;
	opacity: 0;
}

.container{
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: rgba(0,0,0,.5);
	background-position: center center;
	animation: zoom 10s alternate ease infinite;
}

.form{
	width: 100%;
	height: 30px;
	max-height: 30px;
}

.form .label{
	color: white;
	font-size: 25px;
}

.form input{
	font-size: 15px;
}

@keyframes zoom {
    0%   {background-image: url("../images/background.jpg"); background-size: 100%;}
    50%  {background-image: url("../images/background.jpg"); background-size: 110%}
    60%  {background-image: url("../images/background2.jpg"); background-size: 109%}
    100% {background-image: url("../images/background2.jpg"); background-size: 100%;}
}

.inner{
	background-color: rgba(0,0,0,.5);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.navigation .navbar-left{
	padding: 15px;
	float: left;

}

.navigation .navbar-left img{
	width: 140px;
	height: 40px;
	margin: 0;

}

.navigation .navbar-right{
	float: right;
	padding: 28px;
}

.navigation .navbar-right ul li{
	list-style: none;
	float: left;
	text-decoration: none;
	padding-right: 30px;
}

.navigation .navbar-right ul li a{
	position: relative;
	padding: 10px;
	text-decoration: none;
	color: white;
	font-weight: bolder;
	transition: 0.5s ease;
}

.navigation .navbar-right ul li a:after{
	position: absolute;
	content: "";
	width: 0;
	height: 3px;
	background: #DEDEDE;
	bottom: 0;
	left: 50%;
	transition: 0.3s ease;
}

.navigation .navbar-right ul li a:hover:after{
	width: 100%;
	left: 0;
}

.background-text{
	clear: both;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.background-text .form{
	text-align: center;
}

.background-text .form input{
    border: none;
}

.background-text .form input[type="text"]{
	padding: 4px;
}

.background-text .form input[type="number"]{
	padding: 4px;
}

.background-text .form .label img{
	width: 25px;
    vertical-align: middle;
}

.background-text .form select{
    padding: 4px;
    border: none;
}

.background-text .form .label i{
	vertical-align: middle;
	font-size: 0.8em;
}

.background-text .form label{
	padding: 0 5px;
    height: 35px;
    position: relative;
    display: inline-block;
    background-color: #eee9e9;
    color: black;
    margin-right: -5px;
    margin-left: 20px;
}


.background-text h1{
	color: white;
	font-size:35px;
	letter-spacing: 1px;
	line-height: 80px;
	text-align: center;
}

.background-text h3{
	color: white;
}

.order_button{
	padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  outline: none;
  background: #da3743;
  border: 2px solid #da3743;
  color: white;
  font-weight: bold;
  transition: border 1s;
  
}

.background-text  button{
	
  margin-top: 20px;
  border-radius: 5px;
  outline: none;
  background: #da3743;
  border: 2px solid #da3743;
  color: white;
  font-weight: bold;
  transition: border 1s;
  padding: 10px;
}


.background-text  button:hover{
	background-color: #B8222D;
	border: 2px solid salmon;
	cursor: pointer;
}

.background-arrow{
	width: 100%;
	text-align: center;
	margin-top: -50px;
}

.background-arrow button{
	background: transparent;
	border: none;
	outline: 0;
}

.inner .background-arrow i{
	color: white;
	font-size: 50px;
	transition: all 0.5s;

}

a{
	outline: 0 !important;
	border: none;
	text-decoration: none;
	color: inherit;
}

a:active, a:focus {
  outline: 0 !important;
  border: none;
  -moz-outline-style: none;
}

.inner .background-arrow i:hover{
	animation: arrow 0.5s ease alternate infinite;
	cursor: pointer;
}

@keyframes arrow{
	from{transform: translate(0,0);}
	to{transform: translate(0,10px);}
}

.dropdown{
	opacity: 0;
	max-height: 0;
	position: absolute;
	transform: scale(0);
	top: 30px;
	left: -400%;
    width: 500%;
	background: #323232;
	color: #DEDEDE;
	transition: opacity 0.5s ease;
}

#mobile_cart_small{
	left: -800%;
    width: 1300%;
}

.dropdown .mobile_dropdown_table, .dropdown .dropdown_table{
	width: 100%;
}

.dropdown table{
	width: 100%;
	color: #DEDEDE;
}

.outer{
	background-image: url(../images/trendingbackground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 0px 0;
	position: relative;
}

.trending h1{
	color: white;
	padding: 20px 0;
	text-align: center;
}


/*Carousel*/
.main{
		position: relative;
		display: flex;
		flex-flow: row;
		flex-wrap: nowrap;
		flex-direction: row;
		align-items: stretch;
		background: transparent;
		margin: 0;
		padding: 0;
		width: 100%;
		overflow: hidden;
		background: rgba(10,10,10,0.7);
	}

	.carousel{
		display: flex;
		flex-flow: row;
		justify-content: space-around;
		align-items: center;
		flex: 0 0 auto;
		width: 100vw;
		overflow: hidden;
	}

	.carousel .img img{
		width: 250px;
		height: 250px;
		flex: 1;
	}

	.card{
		margin-top: -4px;
	}

	.trending .butt{
		display: flex;
		align-items: center;
		width: 100%;
	}

	.trending i{
		position: absolute;
		background: none;
		font-size: 35px;
		margin: 0 5px;
		bottom: 40%;
		color: white;
	}

	.trending .butt .fa-arrow-circle-right{
		right: 0;
	}

.gallery{
	width: 100%;
  padding-bottom: 50px;
  background-image: url(../images/live.jpg);
  background-repeat: no-repeat;
  background-size: 100% 632px;
  background-position: 100% 19%;
  color: white;
}

	.gallery_inner{
		position: relative;
	}



	.gallery h1{
		text-align: center;
		padding: 20px;
		word-spacing: 12px;
	}

.gallery_inner img{
	width: 200px;
	height: 100%;
	transition: 0.3s;
	filter: blur(0);
}

.image_container{
	position: relative;
	overflow: hidden;
	border: 5px solid black;
	margin: 5px 0;
	max-height: 150px;
	overflow: hidden;
}

.image_container .inner_animated{
	position: absolute;
	width: 100%;
	height: 150px;
	top: 0;
	left: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
	}

	.image_container .inner_animated p {
		display: none;
	}

.image_container:hover .inner_animated{
	background: rgba(10,10,10,0.6);

}

.image_container:hover p{
	display: block;
}

.image_container:hover img{
	transform: scale(1.1);
}

/*End of First Carousel*/

.combo h1{
	text-align: center;
	color: white;
	padding: 20px 0;
}



.combo .butt{
		display: flex;
		align-items: center;
		width: 100%;
}

.combo i{
		position: absolute;
		background: none;
		font-size: 35px;
		margin: 0 5px;
		bottom: 40%;
		color: white;
}

.combo .butt .fa-arrow-circle-right{
		right: 0;
}

/*End of second slider*/

.footer{
	background: #323232;
	background-image: url(../images/footer.jpg);
}

.foot{
	color: white;
	display: flex;
	width: 100%;
	justify-content: space-between;
	justify-content: space-evenly;
	padding: 20px 0;
}

.footer .foot h3{
	color: #3a5b75;
	margin-top: 10px;
}

.footer .foot p{
	padding-top: 10px;
}

.footer .social i{
	font-size: 35px;
	margin: 15px;
}


.footer .lintend{
	padding: 20px;
}

.footer .lintend p{
	color: #595959;
}

.mobile_btn{
	display: none;
}




/*MOBILE RESERVATION*/

.mobile-form{
	visibility: hidden;
	position: fixed;
	z-index: 999;
	align-self: center;
	top: 18%;
	background: rgba(0,0,0, 0.9);
	padding: 60px;
}

.mobile-background-text{
	clear: both;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.mobile-background-text .mobile-form{
	text-align: center;
}

.mobile-background-text .mobile-form input{
    border: none;
    margin: 10px;
}

.mobile-background-text .mobile-form input[type="text"]{
	padding: 4px;
}

.mobile-background-text .mobile-form input[type="number"]{
	padding: 4px;
}



.mobile-background-text .mobile-form select{
    padding: 4px;
    border: none;
}



.mobile-background-text .mobile-form i{
	position: absolute;
	width: 10px;
	height: 20px;
	top: 20;
	right: 20;
}

.mobile-background-text .mobile-form i:hover{
	cursor: pointer;
}
	




.order_button{
	padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  outline: none;
  background: #da3743;
  border: 2px solid #da3743;
  color: white;
  font-weight: bold;
  transition: border 1s;
  min-width: 20px;
 
}

.mobile-background-text button{
	padding: 5px;
  margin-top: 20px;
  border-radius: 5px;
  outline: none;
  background: #da3743;
  border: 2px solid #da3743;
  color: white;
  font-weight: bold;
  transition: border 1s;
  min-width: 20px;
}


.mobile-background-text  button:hover{
	background-color: #B8222D;
	border: 2px solid salmon;
	cursor: pointer;
}


/*Responsive*/

 @media screen and (max-width: 900px){
 	.mobile_btn{
 		display: block;
 		z-index: 0;
 	}

 	body{
 		width: 100%;
 		padding: 0;
 		margin: 0;
 	}

 	.footer .foot{
 		flex-flow: column;
 		align-items: center;
	}

	.footer .address, .phone, .email{
		margin: 0;
		padding: 0;
	}

	.footer h3{
		text-align: center;
	}

 	.carousel .img img{
		width:100px;
		height: 100px;
		flex: 1;
		margin: 10px 0;
		border: 2px solid black;
	}

 	.main{
 		overflow-x: scroll;
 	}

	.container{
	  	background-attachment: fixed;
	  	height: 50vh;
		background-color: rgba(0,0,0,.5);
		background-size: cover;
  }

  	.navigation .navbar-right{
  	display: none;
  	}

  @keyframes zoom {
    0%   {background-image: url("../images/background.jpg");}
    50%  {background-image: url("../images/background.jpg");}
    55%  {background-image: url("../images/background2.jpg");}
    100% {background-image: url("../images/background2.jpg");}f
	}

	.background-text{
		padding-top: 100px;
		height: 35vh;
	}

	.background-text h1{
		font-size: 15px;
		line-height: 20px;
	}

	.background-text .form{
		visibility: hidden;
		z-index: 999;
	}

	.background-text button{
		margin-top: 0;
		padding: 5px;
		font-size: 12px;
	}

	.inner .background-arrow i{
	font-size: 30px;
	}

	.background-arrow{
		margin-top: 50px;
	}

	.inner .background-arrow i:hover{
	animation: none;
	cursor: pointer;

}
	.butt i{
		font-size: 30px;
	}
}
